{% extends 'base.html' %}
<!-- {% load static %} -->
{% block content %}

<div class="container-fluid">
    <div class="row justify-content-start align-items-lg-center">
        <div class=" mx-2 pt-5">
            <h1 class="text-center text-white" style="font-family: 'Croissant One', serif;">
                EJE EMMANUEL OHOTUOWO
            </h1>
            <p class="text-white" style="font-family: 'Kanit', serif;">
                Eje Emmanuel Ohotuowo, a 22-year-old native of Okpoma in Yala LGA of Cross River State. 
                Was born in Dutsen Alhaji in the Federal Capital Territory of Nigeria, is a young and promising individual who has already made significant strides in the field of computer science.
            </p>
            <p class="text-white" style="font-family: 'Kanit', serif;">
                Eje's educational journey began at MaryKnoll Boys College, where he laid the foundation for his academic pursuits. 
                Throughout his high school years, he demonstrated a keen intellect and a strong work ethic, foreshadowing the accomplishments that would follow.
                After completing high school, Eje set his sights on higher education and enrolled at the Federal University Wukari in Taraba State. 
                There, he embarked on a path that would ultimately lead to the attainment of a Bachelor of Science degree in Computer Science. 
                His dedication to his studies, coupled with his passion for technology, made him a standout student.
            </p>
            <p class="text-white" style="font-family: 'Kanit', serif;">
                Eje's academic achievements are not the sole testament to his character. He possesses a natural curiosity and an insatiable appetite for knowledge. 
                His enthusiasm for computer science extends beyond the classroom, as he actively seeks opportunities to apply his skills and contribute to the ever-evolving world of technology.
                In addition to his academic pursuits, Eje is known for his interests in Soccer, Music, and Gaming, 
                which provide a well-rounded balance to his life. His drive, intelligence, and determination are qualities that define him and are sure to propel him to even greater heights in the field of computer science and beyond.
                As Eje Emmanuel Ohotuowo continues to embark on his journey, it is clear that he is a young individual with immense potential and a bright future ahead. His story is one of dedication, ambition, and a commitment to making a lasting impact in the world of technology.
            </p>

            <figure class="text-end">
                <blockquote class="blockquote">
                  <p class="text-white">Coding like poetry should be short and concise.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                   <cite title="Source Title">Santosh Kalwar</cite>
                </figcaption>
              </figure>
        </div>
    </div>
</div>

{% endblock %}